# frontend
frontend/dist/
frontend/node_modules/
frontend/.env
electron-dist/

# secrets, keys
*.env
*.pfx
*.pem
*.key
*.crt

# docker
docker-compose.dcproj
.dockerignore
docker-compose.override.yml
copilot-instructions.md